body {
    background: rgb(169, 5, 5);
}
h1 {
  color: rgb(3, 3, 57) ;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style:normal ;
  font-weight:bold ;
  font-size:45px ;
}
p {
  color: Black ;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style:normal ;
  font-weight:normal ;
  font-size: 15px ;
}
h2 {
    color: rgb(3, 3, 57) ;
    font-family: "Helvetica", "Arial", sans-serif;
    font-style:normal ;
    font-weight:bold ;
    font-size:25px ;
 }   
ul {
  color: Black ;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
  font-style:italic ;
  font-weight:normal ;
  font-size: 15px ;
}